@model BDII_PF_JorgeIsaacLópezV.Models.viewModels.TratamientoDetalle

@{
    ViewBag.Title = "Detalles del Tratamiento";
}

<h2>Detalles del Tratamiento</h2>

<div>
    <h4>Tratamiento #@Model.IdTratamiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Paciente:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente)
        </dd>

        <dt>
            Doctor:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor)
        </dd>

        <dt>
            Descripción:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha del Tratamiento:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>

    <h4>Medicamentos Utilizados</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Medicamento</th>
                <th>Cantidad</th>
                <th>Costo Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicamento in Model.Medicamentos)
            {
                <tr>
                    <td>@medicamento.Nombre</td>
                    <td>@medicamento.Cantidad</td>
                    <td>₡@medicamento.CostoUnidad.ToString("N2")</td>
                    <td>₡@medicamento.Subtotal.ToString("N2")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="info">
                <th colspan="3" style="text-align: right;">Total:</th>
                <th>₡@Model.Total.ToString("N2")</th>
            </tr>
        </tfoot>
    </table>
</div>

<p>
    @Html.ActionLink("Volver a Citas", "Index", "Citas", null, new { @class = "btn btn-success" })
</p>